.app {
  background-color: #F6F4F3;
  display: flex;
  min-height: 100vh;
}

.content {
  width: 100%
}

.settings-container {
  background-color: #D4939380;
  padding: 3rem 1rem;
}

.saved-container {
  margin: 0 2rem;
}

.saved-container-top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.saved-container-title {
  color: #000000BA;
}

.new-project-button {
  background-color: #ED4747;
  color: #F6F4F3;
  border: none;
  height: 2.5rem;
  padding: 0 1rem;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.125rem #00000040;
}

.new-project-button:hover {
  cursor: pointer;
}

.new-project-button:active {
  transform: translateY(0.125rem);
  box-shadow: 0 0.0625rem 0.0625rem #00000040;
}

.saved-container-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  grid-gap: 1rem;
}