/*** SettingsCard Component Styles ***/
.settings-card {
  margin: 5rem;
  box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.2);
  height: 15rem;
  position: relative;
  padding-top: 1rem;
  min-width: 600px;
  max-width: 720px;
  background-color: #F6F4F3;
  margin: 0 auto;
  border-radius: 1rem;
}

.settings-card-bar {
  display: flex;
  justify-content: center;
}

.settings-card-base-unit {
  position: absolute;
  top: 1rem;
  left: 1rem;
  text-align: center;
  font-size: 0.75rem;
}

.settings-card-root-text {
  margin: 0 0 0.125rem 0;
  color: #000000BA
}

.settings-card-base-text {
  display: flex;
  background-color: #ED4747;
  color: #F6F4F3;
  padding: 0.5rem;
  border-radius: 1rem;
}

.settings-card-base-equal {
  margin: 0 0 0 0.15rem;
}

.settings-card-base-input {
  width: 1.5rem;
  border: none;
  text-align: center;
  border-radius: 0.5rem;
  font-size: 0.75rem;
}

.settings-card-base-input:focus {
  outline: none;
}

.settings-card-unit-selector {
  width: 4rem;
  border: none;
  padding: 0.5rem 0;
  color: #F6F4F3;
}

.settings-card-unit-selector:hover {
  cursor: pointer;
}

#px-selector {
  border-radius: 0.5rem 0 0 0.5rem;
}

#rem-selector {
  border-radius: 0 0.5rem 0.5rem 0;
}

.settings-card-info-display {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.settings-card-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 6rem;
  border-radius: 1rem;
}

.settings-card-bottom-row {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.settings-card-save-button {
  width: 5rem;
  height: 2rem;
  background-color: #ED4747;
  color: #F6F4F3;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.2);
}

.settings-card-save-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.settings-card-save-button:active {
  transform: translateY(0.125rem);
  box-shadow: none;
}

/*** SelectedCard Component Styles ***/
.selected-card {
  display: flex;
}

.value-input {
  width: 4.5rem;
  height: 2.5rem;
  border: none;
  text-align: center;
  border-radius: 0.5rem;
  font-size: 1.5rem;
}

.value-input:focus {
  outline: none;
}

.selected-card-unit {
  margin: 0 0 0 0.5rem;
  color: #F6F4F3;
  font-size: 1.5rem;
}

/*** Sidebar Component Styles ***/
.sidebar {
  width: 11rem;
  margin-left: 0.5rem;
  border-right: 0.125rem solid #C66E6E;
}

.sidebar-title {
  color: #000000BA;
}

/***  SavedConversion Components Styles ***/
.saved-conversion {
  display: flex;
}

.saved-conversion-values {
  min-width: 10.4rem
}

.saved-value {
  border: none;
  color: #F6F4F3;
  width: 5.2rem;
  height: 2rem;
}

.saved-value:hover {
  cursor: pointer;
}

.saved-conversion-px {
  border-radius: 0.5rem 0 0 0.5rem;
}

.saved-conversion-rem {
  border-radius: 0 0.5rem 0.5rem 0;
}

.saved-conversion-button {
  border: none;
  background-color: #ED4747;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.2);
}

.saved-conversion-button:hover {
  cursor: pointer;
}

.saved-conversion-button:active {
  transform: translateY(0.125rem);
  box-shadow: none;
}

.saved-conversion-copy {
  margin-left: 1rem;
}

.saved-conversion-delete {
  margin-left: 0.6rem;
}